section.banner{
	height: calc(100% - 105px);
	background-image: url("/images/banner.png");
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	.caption{
		color: #fff;
		max-width: 740px;
		p{
			font-size: 1.58em;
			font-weight: 300;
			color: #fff;
		}
	}
}