body{
	height: 100%;
	position: relative;	
	font-family: 'd-dinregular';	
	font-weight: 300;
	>section{
		padding-top: 60px;
		padding-bottom: 60px;
	}
}
h1,h2,h3,h4,h5{
	font-family: 'd-dindin-bold';
	/*font-family: 'd-dinregular';*/
	font-weight: bold;
}
h1{
	font-size: 3.295em;
}
h3{
	font-size: 2.05em;
}
a{
	color: #000;
	cursor: pointer;
}
a:hover{
	text-decoration: none;
}
p{
	font-size: 1.2em;
	color: #444;
}
.btn-primary{
    background-color: #4170b4;
    border-radius: 18px;
    padding: 7px 35px;
    font-size: 1.1em;
}

input:focus, textarea:focus, select:focus {
    outline: 0;
}

@media (min-width: 992px){
	.container {
	    max-width: 950px;
	}
}