section.quienes_buscamos{
	p{
		font-size: 1.05em;
	}
	.row:nth-child(2),.row:nth-child(3).row:nth-child(4){
		padding-left: 35px;
		padding-right: 35px;
	}
	.caracteristicas li{ 
		font-size: 1.1em;
	    align-items: center;
	    display: flex;
	    line-height: 1.3;
	    margin-bottom: 15px;
		i{
			color: #4170b4;
			font-size: 1.7em;
		}
	}
	form{
		input[type="text"],input[type="tel"],input[type="email"],textarea{
			border-radius: 20px;
		    border: solid 2px #dbdbdb;
		    margin-bottom: 10px;
		    padding: 8px 15px;
	    }
	    textarea{
	    	height: 96px;
    		resize: none;
	    }
	}
}