section.conseguimos_clientes{
	background-image: url("/images/conseguimos_clientes.png");
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	h3,p{
		color: #fff;
	}
}