#header{
	>.d-flex{
		max-width: 950px;
		margin-left: auto;
		margin-right: auto;
	}
	.logo{
		img{
			height: 45px
		}
	}
	.btn-menu{
		background-color: transparent;
		border: none;
		outline: none;
		display: flex;
	    flex-direction: column;
	    justify-content: space-around;
		label{
			width: 50px;
			height: 3px;
			background-color: #000;
			border-radius: 10px;
			margin: 0;
		}
	}
	.btn-menu:hover{
		cursor: pointer;
		transition: all 0.2s ease-out;
		label{
			background-color: #1371b9;
			cursor: pointer;
			transition: all 0.2s ease-out;			
		}
	}
	nav{
		height: 0px;
    	overflow: hidden;
    	transition: all 0.3s ease-out;
		ul{
			background-color: #1371b9;
    		color: #fff;
		}
		li{
			height: 60px;
			border-bottom: solid 1px #fff;
			a{
				padding: 0 15px;
				font-size: 1.05em;
			}
		} 
	}
	nav.active{
		height: 180px;
	}
	.top{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.list-container{
	    position: fixed;
	    overflow: hidden;
	    width: 80%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    background-color: #030711;
	}
}

@media(min-width: 768px) {
	#header{
		padding-top: 30px;
		padding-bottom: 30px;
		.top{
			padding-top: 0;
			padding-bottom: 0;
		}
		nav {
			height: auto;
			ul{
				background-color: inherit;
	    		color: inherit;
	    		height: auto;
	    		overflow: auto;
	    		li{
					height: 100%;
					border-bottom: none;
				}
			}	
		}		
		nav.active{
			height: auto;
		}
	}	
}