
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("/fonts/d-din/stylesheet.css");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// FontAwesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/fa-regular';

// Base
@import "base";

// Header
@import "header";

// Banner
@import "banner";

// Que Aportamos
@import "aportamos";

// Conseguimos Clientes
@import "clientes";

// Quienes buscamos
@import "buscamos";

// Footer
@import "footer";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


